<h1 class="font-semibold text-gray-700 pb-4">Plot of Land</h1>

<div *ngIf="plotOfLand$ | async as plotOfLand">
  <div class="card">
    <div class="items-center justify-between">
      <div>
        <h2 class="text-lg font-medium">{{ plotOfLand.description }}</h2>
      </div>

      <div class="mt-4 grid md:grid-cols-2 sm:grid-cols-1">
        <div
          class="flex flex-row select-none w-full"
          *ngIf="getProof(ProofType.PROOF_OF_FREEDOM, plotOfLand.proofs) as proof; else notUploadedProofOfFreedom"
        >
          <div class="p-1 h-10 w-10 rounded-full bg-green-600 flex items-center justify-center">
            <span class="material-symbols-outlined text-white"> done </span>
          </div>
          <div class="grid grid-cols-2 mt-2 ml-4">
            <p class="text-neutral-500">Proof of Freedom from deforestation</p>
            <div class="flex text-right justify-end">
              <div class="group relative flex flex-col items-center">
                <a
                  class="p-1 material-symbols-outlined hover:bg-gray-200 rounded-full cursor-pointer"
                  [href]="MINIO_URL + proof.documentRef"
                >
                  file_download
                </a>
                <span
                  class="absolute flex flex-col items-center bottom-full mb-2 px-2 py-1 text-xs text-black bg-gray-200 rounded opacity-0 group-hover:opacity-100 transition-opacity"
                  >Download</span
                >
              </div>
            </div>
          </div>
        </div>

        <ng-template #notUploadedProofOfFreedom>
          <div class="flex flex-row select-none w-full">
            <div
              class="p-1 h-10 w-10 rounded-full flex items-center justify-center"
              [ngClass]="{
                'bg-green-600': hasFileUploaded(ProofType.PROOF_OF_FREEDOM),
                'bg-orange-500': !hasFileUploaded(ProofType.PROOF_OF_FREEDOM),
              }"
            >
              <span class="material-symbols-outlined text-white"
                >{{ hasFileUploaded(ProofType.PROOF_OF_FREEDOM) ? 'done' : 'warning' }}
              </span>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-2 mt-2 ml-4">
              <p class="text-neutral-500">Proof of Freedom from deforestation</p>
              <div class="flex text-right justify-end">
                <span class="p-1 material-symbols-outlined text-gray-300 hover:bg-gray-200 rounded-full cursor-not-allowed">
                  file_download
                </span>
              </div>
            </div>
          </div>
        </ng-template>

        <div
          class="flex flex-row select-none w-full"
          *ngIf="getProof(ProofType.PROOF_OF_OWNERSHIP, plotOfLand.proofs) as proof; else notUploadedProofOfOwnership"
        >
          <div class="p-1 h-10 w-10 rounded-full bg-green-600 flex items-center justify-center">
            <span class="material-symbols-outlined text-white"> done </span>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-2 mt-2 ml-4">
            <p class="text-neutral-500">Proof of Ownership for plot of land</p>
            <div class="flex text-right justify-end">
              <div class="group relative flex flex-col items-center">
                <a
                  class="p-1 material-symbols-outlined hover:bg-gray-200 rounded-full cursor-pointer"
                  [href]="MINIO_URL + proof.documentRef"
                >
                  file_download
                </a>
                <span
                  class="absolute flex flex-col items-center bottom-full mb-2 px-2 py-1 text-xs text-black bg-gray-200 rounded opacity-0 group-hover:opacity-100 transition-opacity"
                  >Download</span
                >
              </div>
            </div>
          </div>
        </div>

        <ng-template #notUploadedProofOfOwnership>
          <div class="flex flex-row select-none w-full">
            <div
              class="p-1 h-10 w-10 rounded-full flex items-center justify-center"
              [ngClass]="{
                'bg-green-600': hasFileUploaded(ProofType.PROOF_OF_OWNERSHIP),
                'bg-orange-500': !hasFileUploaded(ProofType.PROOF_OF_OWNERSHIP),
              }"
            >
              <span class="material-symbols-outlined text-white"
                >{{ hasFileUploaded(ProofType.PROOF_OF_OWNERSHIP) ? 'done' : 'warning' }}
              </span>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-2 mt-2 ml-4">
              <p class="text-neutral-500">Proof of Ownership for plot of land</p>
              <div class="flex text-right justify-end">
                <span class="p-1 material-symbols-outlined text-gray-300 hover:bg-gray-200 rounded-full cursor-not-allowed">
                  file_download
                </span>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 mt-4">
    <div>
      <div class="card mb-4">
        <h1 class="text-lg font-semibold">Details</h1>
      </div>
      <div class="card text-neutral-300">
        <div class="mt-8 grid grid-cols-1 md:grid-cols-2">
          <span class="border-b-2 py-2 font-medium">Country</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.country }}</p>
          <span class="border-b-2 py-2 font-medium">Region</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.region }}</p>
          <span class="border-b-2 py-2 font-medium">Province</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.province }}</p>
          <span class="border-b-2 py-2 font-medium">District</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.district }}</p>
          <span class="border-b-2 py-2 font-medium">Sort of Palm Oil</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.cultivatedWith?.sort }}</p>
          <span class="border-b-2 py-2 font-medium">Quality</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.cultivatedWith?.quality }}</p>
          <span class="py-2 font-medium">Farmer</span>
          <a class="py-2 text-secondary-500 cursor-pointer hover:underline" [routerLink]="['/users', plotOfLand.farmer?.id]">
            {{ getUserOrCompanyName(plotOfLand.farmer) }}
          </a>
        </div>
      </div>
      <div class="card text-neutral-300 mt-4 !pb-14">
        <div class="mt-8 grid grid-cols-1 md:grid-cols-2">
          <span class="border-b-2 py-2 font-medium">National Plot of Land Id</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.nationalPlotOfLandId }}</p>
          <span class="border-b-2 py-2 font-medium">Local Plot of Land Id</span>
          <p class="border-b-2 py-2 text-neutral-500">{{ plotOfLand.localPlotOfLandId }}</p>
          <span class="py-2 font-medium col-span-2 flex items-center gap-1.5"
            >Geo Data
            <span
              class="p-1 material-symbols-outlined hover:bg-gray-200 rounded-full cursor-pointer"
              [cdkCopyToClipboard]="plotOfLand.geoData ?? ''"
            >
              content_copy
            </span>
          </span>
          <div class="border-b-2 py-2 text-neutral-500 break-words col-span-2">
            <div class="h-80 z-0 rounded-lg" leaflet id="map" [leafletCenter]="center" [leafletZoom]="10" [leafletLayers]="layers"></div>
          </div>
          <span class="py-2 font-medium">Area in HA</span>
          <p class="py-2 text-neutral-500">{{ plotOfLand.areaInHA }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="(plotOfLand.proofs?.length ?? 0) < 2; else uploadedProofs">
      <app-upload-form
        [selectOptions]="getFilteredOptions(plotOfLand.proofs)"
        [title]="'Upload Proofs'"
        [informationText]="'Upload Proof of freedom from deforestation or Proof of ownership for a Plot of Land here.'"
        [showUploadedFiles]="false"
        (uploadDocument)="uploadProof($event, plotOfLand.id)"
      ></app-upload-form>
    </div>

    <ng-template #uploadedProofs>
      <div class="card self-start">Proof of Freedom from deforestation and Proof of Ownership have been uploaded.</div>
    </ng-template>
  </div>
  <div class="card mt-4">
    <div class="inline-flex justify-end gap-4 w-full">
      <button mat-button (click)="window.history.back()" class="font-medium">Back</button>
    </div>
  </div>
</div>
